#homepage{
  width:100%;
  min-height:80vh;
  background-color:#f0f0f0;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-direction:column;
  border-radius:25px;
}
.introduction{
  width:85%;
  height:fit-content;
  background-color:white;
  border-radius:15px;
}
.introduction p {
  margin:10px;
  text-align:center;
}
.users-box{
  width:80%;
  background-color:white;
  border:1px solid black;
  border-radius:15px;
  display:flex;
  flex-direction:column;
  min-height:10vh;
  position:relative;
}
.users-box p {
  position:absolute;
  top: 40px;
  left:45%;
  font-style:italic;
  color:gray;
  font-size:10px;
}
.users-filter{
  height:20px;
  width:90%;
  border:none;
  margin-top:5px;
}