#info {
  margin: 20px 10px 0 10px;
  /*   width: 100%; */
  min-height: 110px;
  display: grid;
  grid-template-columns: 120px minmax(fit-content, 1fr);
  grid-template-rows: repeat(3, fit-content);
  box-sizing: border-box;
  border: 1px solid red;
}
#info p {
  grid-area: 2/1/3/3;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  text-align: start;
  padding: 10px;
}
#avatar {
  align-self: start;
  width: auto;
  height: 100%;
  grid-area: 1/1/3/2;
  /*   border:1px solid blue; */
}
#avatar img {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  border: 1px solid gray;
}
#avatar:hover #avatarfile {
  display: block;
}
#avatarfile {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  margin: -60px auto;
  margin-left: 5px;
  float: none;
  width: 110px;
  height: 55px;
/*   border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; */
  outline: none;
}
#avatarfile::before {
  width: 120px;
  height: 80px;
}
#bio {
  border: 1px solid green;
  min-height: 110px;
}
#bio-list {
  margin: 0;
  padding: 10px;
  text-align: start;
}
#info h1 {
  margin: 0 0 20px 0;
  color: #23232e;
  word-break: break-word;
  grid-area: 1/2/2/3;
}
#bio-list li {
  list-style-type: none;
  margin: 0 15% 0 0;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #23232e;
  word-break: break-word;
  grid-area: 2/2/3/3;
}
#info p {
  grid-area: 3/1/4/3;
}
.custom-input {
  color: transparent;
  /*   width:40px; */
  height: 40px;
  float: right;
  margin: 15px;
}
.custom-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-input::before {
  content: "EDIT";
  text-align: center;
  padding-top: 12px;
  color: white;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 1px;
}
.custom-input:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 600px) {
  /*   #bio-list h1{
    font-size:5vw;
    word-break:break-word;
  }
  #bio-list li{
    font-size:4vw;
  } */
  /*   #info{
    grid-template-columns: 120px minmax(fit-content, 1fr);
    grid-template-rows: repeat(2, fit-content);
   } */
  /*  #info p{
    grid-area: 3/1/4/3;
  }
  #avatar{
    grid-area: 1/1/2/3;
    height:200px;
  }
  #avatar img{
    object-fit: contain;
  }
  #bio{
     grid-area: 2/1/3/3; 
  } */
}
