#info{
  margin-top:40px;
  width:100%;
  min-height:110px;
  display:grid;
  grid-template-columns:120px minmax(230px, 1fr);
  grid-template-rows:2;
  box-sizing:border-box;
}
#info p{
  grid-area:2/1/3/3;
  font-family: 'Noto Sans', sans-serif;
  font-size:16px;
  text-align:start;
  padding:10px;
}
#avatar{
  align-self:start;
  width:auto;
  height:110px;
}
#avatar img{
  box-sizing:border-box;
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:50%;
  border:5px solid white;
}
#avatar:hover #avatarfile{
  display:block;
}
#avatarfile{
  display:none;
  position:relative;
  top:0;
  left:0;
  z-index:2;
  margin:-60px auto;
  margin-left:5px;
  float:none;
  width:110px;
  height:55px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  outline:none;
}
#avatarfile::before{
  width:120px;
  height:80px;
}
#bio{
  min-height:110px;
}
#bio-list{
  margin:0;
  padding:10px;
  text-align:start;
}
#bio-list li{
  list-style-type:none;
  margin: 0 15% 0 0;
  display:inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-size:18px;
  font-weight:bold;
  color:#23232e;
}
.custom-input{
  color:transparent;
  width:40px;
  height:40px;
  float:right;
  margin:15px;
}
.custom-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-input::before{
  content:"EDIT";
  text-align:center;
  padding-top:12px;
  color:white;
  display: inline-block;
  background-color: rgba(0,0,0,0.3);
  width:40px;
  height:40px;
  cursor:pointer;
}
.custom-input:hover{
  background-color: rgba(0,0,0,0.6);
}