*{
  font-family: 'Noto Sans', sans-serif;
}
.add{
  width:100%;
  border:none;
  background-color:rgba(0,0,0, 0.8);
  color:white;
  font-size:16px;
  cursor:pointer;
  outline:none;
  margin:15px 0 15px 0;
  height:25px;
  border-radius:5px;
}
.add:hover{
  background-color:rgba(0,0,0, 0.9);
}
#post-input-box{
  display:none;
  width:100%;
  margin:auto;
  min-height:8vh;
/*   border:2px solid red; */
  flex-direction:column;
}
#post-input-box input{
  margin:20px 0 20px 0;
}
.attachment-preview{
  height:120px;
  width:100%;
  display:flex;
  justify-content:flex-start;
}
.attachment-preview img:nth-child(n){
  margin-right:10px;
}
.action-btn-box{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
}
.action-btn-box button{
  margin:20px;
  width:100px;
  font-size:16px;
  cursor:pointer;
  border:2px solid #23232e;
  border-radius:10px;
  background-color:white;
  color:#23232e;
}
.action-btn-box button:nth-child(3){
  background-color:red;
  color:white;
  border:2px solid red;
}
