*{
  font-family: 'Noto Sans', sans-serif;
}
#add-post-parent{
  position:relative;
}
.add{
  width:100%;
  border:none;
  background-color:rgba(0,0,0, 0.8);
  color:white;
  font-size:16px;
  cursor:pointer;
  outline:none;
  margin:15px 0 15px 0;
  height:25px;
  border-radius:5px;
}
.add:hover{
  background-color:rgba(0,0,0, 0.9);
}
#post-input-box{
  display:none;
  width:100%;
  margin:auto;
  min-height:8vh;
/*   border:2px solid red; */
  flex-direction:column;
}
#post-input-box input{
  margin:20px 0 20px 0;
}
#post-input-box textarea{
  resize: vertical;
}
#attachment-preview-box{
  display:none;
  min-height:120px;
  width:100%;
/*   display:flex; */
/*   border:1px solid red; */
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap:wrap;
}
/* #attachment-preview-box img:nth-child(n){
  margin-right:10px;
} */
.preview{
  width:100px;
  height:100px;
  position:relative;
  margin-right:20px;
}
.preview img{
  display:block;
  object-fit:contain;
  width:100%;
  height:100%;
}
.preview button{
  width:20px;
  height:20px;
  background-color:lightgray;
  position:absolute;
  top:5px;
  right:-10px;
  padding:0;
  border:none;
  border-radius:50%;
  color:black;
  font-size:16px;
  font-weight:bold;
  line-height: 16px; /* <- changed this */
  box-sizing: border-box; 
  cursor:pointer;
}
.action-btn-box{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
}
.action-btn-box button{
  margin:20px;
  width:100px;
  font-size:16px;
  cursor:pointer;
  border:1px solid #23232e;
  border-radius:10px;
  background-color:white;
  color:#23232e;
}
.attach{
  width:105px;
}
.attach::before{
  content:"Attach";
  width:100px;
  height:25px;
  font-size:16px;
  line-height: 16px;
  cursor:pointer;
  border:1px solid #23232e;
  border-radius:10px;
  background-color:white;
  color:#23232e;
  
}
.attach:hover{
  background-color: transparent;
}

#loading-anim{
  display:none;
  position:relative;
  height:80px;
  margin-bottom:50px;
}
.spinner-1:before{
  content:"";
  box-sizing:border-box;
  position:absolute;
  top:50%;
  left:50%;
  height:60px;
  width:60px;
  margin-top:-30px;
  margin-left:-30px;
  margin:auto;
  border-radius:50%;
  border:6px solid lightgray;
  border-top-color:#23232e;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to{
    transform: rotate(360deg);
  }
}

