body,html{
  padding:0;
  margin:0;
}
#page-main{
  margin-left:5rem;
  padding:0rem;
  width:auto;
  min-height:100vh;
  background-color:#f0f0f0;
  display:flex;
  justify-content:center;
  align-items:center;
}
@media only screen and (max-width:600px){
  #page-main{
    margin-left:0rem;
    width:100%;
    padding-bottom:5rem;
  }
}