body,html{
  padding:0;
  margin:0;
  background-color:#23232e;
  overflow-x:hidden;
}
body{
  margin:0;
  padding:0;
}
body::-webkit-scrollbar{
  width:0.25rem;
}
body::-webkit-scrollbar-track{
  background:#1e1e24;
}
body::-webkit-scrollbar-thumb{
  background:#6649b8;
}
#page-main{
  width:100%;
  min-height:100vh;
  background-color:#f0f0f0;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  border-radius:25px;
}
