body{
  box-sizing:border-box;
}
#personal-page{
  width:85%;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}
#header{
  width:100%;
  height:300px;
}
#header img{
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
}
#info{
  margin-top:40px;
  width:100%;
  min-height:110px;
  display:grid;
  grid-template-columns:120px minmax(260px, 1fr);
  grid-template-rows:2;
  box-sizing:border-box;
}
#info p{
  grid-area:2/1/3/3;
  font-family: 'Noto Sans', sans-serif;
  font-size:16px;
  text-align:start;
  padding:10px;
}
#avatar{
  align-self:start;
  width:auto;
  height:110px;
}
#avatar img{
  box-sizing:border-box;
/*   width: 100%;
  height: 100%;
  border-radius:50%;
  border:5px solid white;
  position:relative;
  top:0;
  left:0;
  z-index:1; */
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:50%;
  border:5px solid white;
/*   z-index:1; */
}
#avatar:hover #avatarfile{
  display:block;
}
#bio{
  min-height:110px;
}
#bio-list{
  margin:0;
  padding:10px;
  text-align:start;
}
#bio-list li{
  list-style-type:none;
  margin: 0 15% 0 0;
  display:inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-size:18px;
  font-weight:bold;
  color:#23232e;
}
.post{
  list-style-type:none;
  margin:10px auto;
  width:100%;
  height:100px;
  display:grid;
  grid-template-columns:150px 1fr;
  background-color:gray;
}
.preview-img{
  /*width:20%;*/
  background-color:yellow;
  /*small preview image will go here after*/
}
.preview-text{
  /*width:80%;*/
  background-color:white;
}
#list{
  margin:0 0 30px 0;
  padding:0;
}
#list li{
  list-style-type:none;
  border:1px solid black;
  display:flex;
/*   flex-direction:column; */
  flex-direction:row;
  flex-wrap:wrap;
  min-height:100px;
  margin-top:20px;
  padding:0px;
  background-color:white;
  box-sizing:border-box;
  border-radius:25px;
}
#list #post-img-parent{
  width:100px;
  height:100px;
  margin:10px;
}
#list img{
  dislay:block;
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:50%;
}
#list li h4{
  width:calc(100% - 160px);
/*    background-color:#23232e; */
 /* color:white; */
  color:#23232e;
  font-size:18px;
}
#list li h4, #list li p{
  font-family: 'Noto Sans', sans-serif;
  padding:5px;
  margin:0;
}
#list li p{
/*   margin-top:-30px; */
  background-color:blue;
}
#list li button{
  font-size:26px;
/*   color:rgba(255,255,255,0.4); */
  color:red;
/*   background-color:blue; */
/*   text-align:end; */
/*   position:relative; */
/*   top:-35px; */
/*   left:10%; */
/*   right:-50%; */
/*   margin-left:-25px; */
  background-color:transparent;
  border:none;
  width:25px;
  height:25px;
  cursor:pointer;
  transition:0.1s;
}
/* #list li button:hover{
  color:rgba(255,255,255,0.9);
} */
#list li a{
  font-family: 'Noto Sans', sans-serif;
  font-size:16px;
  color:blue;
  font-weight:bold;
  cursor:pointer;
}
#list li span{
  background-color:red;
  justify-self:end;
  align-self:end;
  margin-top:5px;
  padding:5px;
  text-align:end;
  font-family: 'Noto Sans', sans-serif;
  color:#9c9c9c;
  pointer-events:none;
}
/* #list li container{
  height:auto;
  display:flex;
  justify-content:center;
  flex-direction:row;
  flex-wrap:wrap;
}
#list li img{
  max-width:150px;
  height:100px;
  align-self:center;
  margin:10px;
  cursor:pointer;
} */
.add{
  width:100%;
  border:none;
  background-color:rgba(0,0,0, 0.8);
  color:white;
  font-size:16px;
  cursor:pointer;
  outline:none;
  margin:15px 0 15px 0;
  height:25px;
  border-radius:5px;
}
.add:hover{
  background-color:rgba(0,0,0, 0.9);
}
#modal-parent{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:2;
  background-color:rgba(0,0,0,0.7);
}
#modal-content{
  margin:6% auto;
  background-color:white;
  width:85%;
  height:80%;
  padding-top:20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  border-radius:25px;
}
#header-img-form input{
  width:100%;
  cursor:pointer;
  background-color:orange;
}
.add-post-form{
  margin:0 auto;
  width:90%;
  max-height:75%;
  display:grid;
  grid-template-columns:max-content 1fr;
  grid-gap:10px;
}
.add-post-form textarea{
  resize: none;
  max-height:400px;
}
#new-post label{
  font-family: 'Noto Sans', sans-serif;
  font-size:16px;
  font-weight:bold;
}

.modal-btn{
  width:180px;
  height:30px;
  font-size:16px;
  font-family: 'Noto Sans', sans-serif;
  color:#23232e;
  background-color:white;
  border:3px solid #23232e;
  cursor:pointer;
}
#submit{
  grid-column: 1 / span 2; 
  margin:20px auto;
}
#later-button{
  align-self:center;
  margin-bottom:25px;
}
#submit:hover, #later-button:hover{
  color:white;
  background-color:#23232e;
}


/* #later-button:hover{
  color:white;
  background-color:#23232e;
  border:3px solid #23232e;
} */

.custom-input{
  color:transparent;
  width:40px;
  height:60px;
  margin:15px;
}
.custom-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-input::before{
  content:"EDIT";
  text-align:center;
  padding-top:14px;
  color:white;
  display: inline-block;
  background-color: rgba(0,0,0,0.3);
  width:40px;
  height:60px;
  cursor:pointer;
}
.custom-input:hover{
  background-color: rgba(0,0,0,0.6);
}
#upfile{
  border:white 1px solid;
  position:relative;
  top:-300px;
  left:1rem;
  width:40px;
  height:40px;
  cursor:pointer;
  text-align:center;
}
/* .attach-btn{
  width:80px;
}
.attach-btn::before{
  background-color: black;
  width:80px;
  content:"Add images";
} */
#upload{
  width:100px;
}
#upload::before{
  width:100px;
}
#avatarfile{
  display:none;
  position:relative;
  top:0;
  left:0;
  z-index:2;
  margin:-60px auto;
  margin-left:5px;
  float:none;
  width:110px;
  height:55px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  outline:none;
}
#avatarfile::before{
  width:120px;
  height:80px;
}

#default{
  position:absolute;
  top:0;
  right:0;
  margin:5px;
  border:2px solid red;
  font-weight:bold;
  cursor:pointer;
}
#footer{
  background-color:#23232e;
  width:100%;
  height:60px;
  display:flex;
  justify-content:center;
  align-items:center;
}
#footer p{
  font-size:12px;
  font-family: 'Noto Sans', sans-serif;
  color:white;
}
@media only screen and (max-width:600px){
  #personal-page{
    width:90%;
  }
  #modal-content{
    margin-top:4%;
    height:75%;
  }
  #later-button{
   margin-top:-40px; 
  }
}
