body{
  box-sizing:border-box;
}
#personal-page{
  width:85%;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}


.post{
  list-style-type:none;
  margin:10px auto;
  width:100%;
  height:100px;
  display:grid;
  grid-template-columns:150px 1fr;
  background-color:gray;
}
#list{
  margin:0 0 30px 0;
  padding:0;
}
#list li{
  list-style-type:none;
  border:1px solid black;
  border-bottom:3px solid black;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  min-height:100px;
  margin-top:20px;
  padding:0px;
  background-color:white;
  box-sizing:border-box;
  border-radius:25px;
}
#list li h4{
  width:calc(100% - 65px);
  color:#23232e;
  font-size:18px;
  display:flex;
  justify-content:center;
  align-items:center;
}
#list li h4, #list li p{
  font-family: 'Noto Sans', sans-serif;
  padding:10px;
  margin:0;
}
#list li button{
  font-size:26px;
  color:red;
  background-color:transparent;
  margin-top:5px;
  border:none;
  width:25px;
  height:25px;
  cursor:pointer;
  transition:0.1s;
}
#list li a{
  font-family: 'Noto Sans', sans-serif;
  font-size:16px;
  color:blue;
  font-weight:bold;
  cursor:pointer;
}
#list li span{
  width:100%;
  padding:5px 20px 5px 0;
  text-align:end;
  font-family: 'Noto Sans', sans-serif;
  color:#9c9c9c;
  pointer-events:none;
}
.add{
  width:100%;
  border:none;
  background-color:rgba(0,0,0, 0.8);
  color:white;
  font-size:16px;
  cursor:pointer;
  outline:none;
  margin:15px 0 15px 0;
  height:25px;
  border-radius:5px;
}
.add:hover{
  background-color:rgba(0,0,0, 0.9);
}
#modal-parent{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:2;
  background-color:rgba(0,0,0,0.7);
}
#modal-content{
  margin:6% auto;
  background-color:white;
  width:85%;
  height:80%;
  padding-top:20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  border-radius:25px;
}

.add-post-form{
  margin:0 auto;
  width:90%;
  max-height:75%;
  display:grid;
  grid-template-columns:max-content 1fr;
  grid-gap:10px;
}
.add-post-form textarea{
  resize: none;
  max-height:400px;
}
#new-post label{
  font-family: 'Noto Sans', sans-serif;
  font-size:16px;
  font-weight:bold;
}
.modal-btn{
  width:180px;
  height:30px;
  font-size:16px;
  font-family: 'Noto Sans', sans-serif;
  color:#23232e;
  background-color:white;
  border:3px solid #23232e;
  cursor:pointer;
}
#submit{
  grid-column: 1 / span 2; 
  margin:20px auto;
}
#later-button{
  align-self:center;
  margin-bottom:25px;
}
#submit:hover, #later-button:hover{
  color:white;
  background-color:#23232e;
}


.attach-btn{
  width:80px;
}
.attach-btn::before{
  background-color: black;
  width:80px;
  content:"Add images";
}
#upload{
  width:100px;
}
#upload::before{
  width:100px;
}
#upfile{
  border:white 1px solid;
  position:relative;
  top:-300px;
  left:0;
  width:40px;
  height:40px;
  cursor:pointer;
  text-align:center;
}

#default{
  position:absolute;
  top:0;
  right:0;
  margin:5px;
  border:2px solid red;
  font-weight:bold;
  cursor:pointer;
}

@media only screen and (max-width:600px){
  #personal-page{
    width:90%;
  }
  #modal-content{
    margin-top:4%;
    height:75%;
  }
  #later-button{
   margin-top:-40px; 
  }
}
