body{
  box-sizing:border-box;
}
#personal-page{
  width:80%;
  min-height:100vh;
  margin-top:5%;
  /*background-color:red;*/
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}
#header{
  width:100%;
  height:300px;
  
}
#info{
  margin-top:10px;
  width:100%;
  height:180px;
  background-color:yellow;
  display:grid;
  grid-template-columns:120px minmax(260px, 1fr);
}
#avatar{
  align-self:center;
  width:auto;
  height:100%;
}
#avatar img{
  box-sizing:border-box;
  width: 100%;
  height: 60%;
  border-radius:50%;
  border:5px solid white;
  position:relative;
  top:0;
  left:0;
  z-index:1;
  
}
#bio{
  height:100%;
  background-color:green;
}
.post{
  list-style-type:none;
  margin:10px auto;
  width:100%;
  height:100px;
  display:grid;
  grid-template-columns:150px 1fr;
  background-color:gray;
}
.preview-img{
  /*width:20%;*/
  background-color:yellow;
  /*small preview image will go here after*/
}
.preview-text{
  /*width:80%;*/
  background-color:white;
}
#list{
  margin:0;
  padding:0;
}
#list li{
  list-style-type:none;
  border:1px solid black;
  display:flex;
  flex-direction:column;
  height:150px;
  margin-top:20px;
  padding:0px;
  cursor:pointer;
  background-color:white;
  box-sizing:border-box;
}
#list li h4{
  background-color:#23232e;
  color:white;
  font-family: 'Noto Sans', sans-serif;
  font-size:18px;
  
}
#list li h4, #list li p{
  padding:5px;
  margin:0
}

.add{
  width:100%;
  border:none;
  background-color:rgba(0,0,0, 0.8);
  color:white;
  font-size:16px;
  cursor:pointer;
  outline:none;
  margin:15px 0 15px 0;
  height:25px;
}
#modal-parent{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:2;
  background-color:rgba(0,0,0,0.7);
}
#modal-content{
  margin:6% auto;
  background-color:white;
  width:85%;
  height:80%;
  padding-top:40px;
}
#header-img-form input{
  width:100%;
  cursor:pointer;
  background-color:orange;
}
.add-post-form{
  margin:auto;
  width:90%;
  display:grid;
  grid-template-columns:max-content 1fr;
  grid-gap:10px;
  background-color:green;
}
.add-post-form textarea{
  resize: none;
}
#submit{
  grid-column: 1 / span 2; 
  width:150px;
  margin:20px auto;
}
#later-button{
  
}
.custom-input{
  color:transparent;
  width:40px;
  height:40px;
  float:right;
  margin:15px;
}
.custom-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-input::before{
  content:"EDIT";
  text-align:center;
  padding-top:12px;
  color:white;
  display: inline-block;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #999;
  border-radius: 3px;
  width:40px;
  height:40px;
  cursor:pointer;
}
#upload{
  width:100px;
}
#upload::before{
  width:100px;
}
#avatarfile{
  position:relative;
  top:0;
  left:0;
  z-index:2;
  margin:-50px auto;
  float:none;
  width:120px;
  height:40px;
}
#avatarfile::before{
  width:120px;
  height:80px;
}

/*.attachment-parent{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:50px;
  height:200px;
  float:right;
  top:0;
}
.attachment{
  background-color:red;
  width:20px;
  height:20px;
}*/